/*artikel css*/
/* :: 19.0 Blog Area CSS */
.mb-30 {
	margin-bottom: 30px !important;
}
.single-blog-post {
	position: relative;
	z-index: 1;
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms; }
.single-blog-post .post-thumbnail {
	position: relative;
	z-index: 1; }
.single-blog-post .post-content .post-title h5 {
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
	line-height: 1.5;
	margin-bottom: 15px; }
.single-blog-post .post-content .post-title h5:hover {
	color: #CDAC65; }
.single-blog-post .post-content .post-meta {
	position: relative;
	z-index: 1;
	margin-bottom: 10px; }
.single-blog-post .post-content .post-meta a {
	position: relative;
	z-index: 1;
	display: inline-block;
	font-size: 14px;
	color: #6b6b64;
	margin-right: 30px; }
.single-blog-post .post-content .post-meta a:last-child::after {
	content: '/';
	top: 0;
	left: -20px;
	position: absolute;
	z-index: 1; }
.single-blog-post .post-content .post-meta a i {
	margin-right: 5px;
	color: #CDAC65; }
.single-blog-post .post-content .post-meta a:hover {
	color: #CDAC65; }
.single-blog-post .post-content .post-excerpt {
	font-size: 16px;
	color: #707070;
	margin-bottom: 0; }
.single-blog-post:hover .post-content .post-title h5 {
	color: #CDAC65; }

@media only screen and (max-width: 767px) {
	.post-sidebar-area {
		margin-top: 100px; } }

.single-widget-area {
	position: relative;
	z-index: 1;
	margin-bottom: 50px; }
.single-widget-area .widget-title {
	width: 100%;
	position: relative;
	z-index: 2;
	margin-bottom: 30px; }
.single-widget-area .widget-title h4 {
	position: relative;
	z-index: 5;
	text-transform: uppercase;
	margin-bottom: 0;
	line-height: 1; }
.single-widget-area .widget-content img {
	margin-top: 20px;
	margin-bottom: 15px; }
.single-widget-area .widget-content p {
	margin-bottom: 0;
	font-size: 16px;
	line-height: 1.6; }
.single-widget-area .single-latest-post {
	position: relative;
	z-index: 1;
	margin-bottom: 30px; }
.single-widget-area .single-latest-post:last-child {
	margin-bottom: 0; }
.single-widget-area .single-latest-post .post-thumb {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 70px;
	flex: 0 0 70px;
	max-width: 70px;
	width: 70px;
	margin-right: 30px; }
.single-widget-area .single-latest-post .post-content .post-title h6 {
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
	font-size: 18px;
	margin-bottom: 10px;
	line-height: 1.3; }
.single-widget-area .single-latest-post .post-content .post-title h6:hover, .single-widget-area .single-latest-post .post-content .post-title h6:focus {
	color: #CDAC65; }
.single-widget-area .single-latest-post .post-content .post-date {
	display: block;
	font-size: 14px;
	margin-bottom: 0;
	color: #6b6b64;
	line-height: 1; }
.single-widget-area .popular-tags li a {
	display: inline-block;
	margin: 4px;
	padding: 10px 15px;
	line-height: 1;
	text-transform: uppercase;
	font-size: 14px;
	color: #707070;
	background-color: #f9f9f9; }
.single-widget-area .popular-tags li a:hover, .single-widget-area .popular-tags li a:focus {
	color: #ffffff;
	background-color: #CDAC65; }
.single-widget-area .author-widget {
	border: 1px solid #ebebeb;
	padding: 30px; }
.single-widget-area .author-widget .author-thumb-name {
	position: relative;
	z-index: 1;
	padding-bottom: 20px;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 15px; }
.single-widget-area .author-widget .author-thumb-name .author-thumb {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 80px;
	flex: 0 0 80px;
	max-width: 80px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-right: 30px; }
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.single-widget-area .author-widget .author-thumb-name .author-thumb {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50px;
		flex: 0 0 50px;
		max-width: 50px;
		width: 50px;
		height: 50px;
		margin-right: 15px; } }
.single-widget-area .author-widget .author-thumb-name .author-thumb img {
	border-radius: 50%; }
.single-widget-area .author-widget .author-thumb-name .author-name h5 {
	margin-bottom: 3px; }
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.single-widget-area .author-widget .author-thumb-name .author-name h5 {
		font-size: 14px; } }
.single-widget-area .author-widget .author-thumb-name .author-name p {
	margin-bottom: 0; }
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.single-widget-area .author-widget .author-thumb-name .author-name p {
		font-size: 13px; } }
.single-widget-area .author-widget .social-info a {
	display: inline-block;
	margin-right: 20px;
	color: #6b6b64; }
.single-widget-area .author-widget .social-info a:hover {
	color: #CDAC65; }
.single-widget-area .single-best-seller-product {
	position: relative;
	z-index: 1;
	margin-bottom: 20px; }
.single-widget-area .single-best-seller-product::after {
	margin-bottom: 0; }
.single-widget-area .single-best-seller-product .product-thumbnail {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 70px;
	flex: 0 0 70px;
	max-width: 70px;
	width: 70px;
	margin-right: 30px; }
.single-widget-area .single-best-seller-product .product-info a {
	display: block;
	color: #707070;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 5px; }
.single-widget-area .single-best-seller-product .product-info a:hover, .single-widget-area .single-best-seller-product .product-info a:focus {
	color: #303030; }
.single-widget-area .single-best-seller-product .product-info p {
	margin-bottom: 0;
	color: #303030;
	font-weight: 500; }
.single-widget-area .single-best-seller-product .product-info .ratings i {
	font-size: 12px;
	color: #ff9800; }
.single-widget-area .search-form {
	position: relative;
	z-index: 2; }
.single-widget-area .search-form input {
	background-color: #ffffff;
	padding: 0 20px;
	width: 100%;
	height: 50px;
	font-size: 14px;
	color: #6b6b64;
	border: 1px solid #ebebeb;
	border-radius: 0; }
.single-widget-area .search-form input:focus {
	box-shadow: none; }
.single-widget-area .search-form button {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	z-index: 10;
	border: none;
	background-color: #ffffff;
	cursor: pointer;
	color: #303030;
	border: 1px solid #ebebeb;
	border-left: none;
	-webkit-transition-duration: 300ms;
	transition-duration: 300ms; }
.single-widget-area .search-form button:hover {
	color: #CDAC65; }

.single-post-details-area {
	position: relative;
	z-index: 1;
	margin-bottom: 50px; }
.single-post-details-area .post-content .post-title {
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
	line-height: 1.5;
	margin-bottom: 15px;
	font-size: 32px; }
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.single-post-details-area .post-content .post-title {
		font-size: 26px; } }
@media only screen and (max-width: 767px) {
	.single-post-details-area .post-content .post-title {
		font-size: 24px; } }
.single-post-details-area .post-content .post-meta {
	position: relative;
	z-index: 1;
	margin-bottom: 10px; }
.single-post-details-area .post-content .post-meta a {
	position: relative;
	z-index: 1;
	display: inline-block;
	font-size: 18px;
	color: #6b6b64;
	margin-right: 30px; }
.single-post-details-area .post-content .post-meta a:last-child::after {
	content: '/';
	top: 0;
	left: -20px;
	position: absolute;
	z-index: 1; }
.single-post-details-area .post-content .post-meta a i {
	margin-right: 5px;
	color: #CDAC65; }
.single-post-details-area .post-content .post-meta a:hover {
	color: #CDAC65; }
.single-post-details-area .post-content blockquote {
	position: relative;
	z-index: 1;
	padding: 30px 50px;
	background-color: #f9f9f9; }
.single-post-details-area .post-content blockquote .blockquote-text h5:last-child {
	color: #CDAC65; }

.post-tags-share {
	position: relative;
	z-index: 1;
	margin-bottom: 50px; }
.post-tags-share .popular-tags span {
	font-size: 14px;
	text-transform: uppercase;
	margin-right: 15px; }
.post-tags-share .popular-tags li a {
	display: inline-block;
	margin: 4px;
	padding: 10px 15px;
	background-color: #f9f9f9;
	line-height: 1;
	text-transform: uppercase;
	font-size: 13px;
	color: #707070; }
.post-tags-share .popular-tags li a:hover, .post-tags-share .popular-tags li a:focus {
	color: #ffffff;
	background-color: #CDAC65; }
.post-tags-share .post-share a {
	font-size: 14px;
	display: inline-block;
	padding: 0 10px; }
.post-tags-share .post-share a:hover, .post-tags-share .post-share a:focus {
	color: #CDAC65; }
@media only screen and (max-width: 767px) {
	.post-tags-share .post-share a {
		padding: 0 5px; } }

/*komen css*/
.comment_area {
	position: relative;
	z-index: 1;
	padding: 50px 0 20px 0;
	border-top: 1px solid #ebebeb; }
.comment_area .headline {
	margin-bottom: 30px; }
.comment_area .single_comment_area {
	position: relative;
	z-index: 1; }
.comment_area .single_comment_area::after {
	position: absolute;
	width: 1px;
	height: 90%;
	background-color: #ebebeb;
	left: 100px;
	top: 0;
	z-index: 2;
	content: ''; }
@media only screen and (max-width: 767px) {
	.comment_area .single_comment_area::after {
		display: none; } }
.comment_area .single_comment_area .comment-wrapper {
	margin-bottom: 30px; }
.comment_area .single_comment_area .comment-wrapper .comment-author {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin-right: 60px; }
@media only screen and (max-width: 767px) {
	.comment_area .single_comment_area .comment-wrapper .comment-author {
		margin-right: 20px; } }
.comment_area .single_comment_area .comment-wrapper .comment-author img {
	width: 100%;
	height: 100%;
	border-radius: 50%; }
.comment_area .single_comment_area .comment-wrapper .comment-content {
	-webkit-box-flex: 0;
	-ms-flex: 1;
	flex: 1; }
.comment_area .single_comment_area .comment-wrapper .comment-content .comment-date {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #CDAC65; }
.comment_area .single_comment_area .comment-wrapper .comment-content h5 {
	font-size: 17px;
	margin: 0 0 10px 0; }
.comment_area .single_comment_area .comment-wrapper .comment-content p {
	font-size: 14px;
	margin-bottom: 5px; }
.comment_area .single_comment_area .comment-wrapper .comment-content .comment-date {
	color: #6b6b64;
	font-size: 14px;
	margin-bottom: 10px; }
.comment_area .single_comment_area .comment-wrapper .comment-content a {
	font-size: 12px;
	color: #303030;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px; }
.comment_area .single_comment_area .comment-wrapper .comment-content a:hover {
	color: #CDAC65; }

.single_comment_area ol li.single_comment_area {
	margin-left: 130px; }
.single_comment_area ol li.single_comment_area::after {
	display: none; }
@media only screen and (max-width: 767px) {
	.single_comment_area ol li.single_comment_area {
		margin-left: 40px; } }
.single_comment_area ol li.single_comment_area .comment-wrapper .comment-author {
	margin-right: 30px; }
@media only screen and (max-width: 767px) {
	.single_comment_area ol li.single_comment_area .comment-wrapper .comment-author {
		margin-right: 15px; } }
.leave-comment-area form .form-control {
	color: black;
}
.comment_area .single_comment_area::after {
	background-color: transparent;
}
