/*custom css*/
/* :: 3.5.0 Preloader */
@-webkit-keyframes zoom {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg); }
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg); } }
@keyframes zoom {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg); }
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg); } }
/* :: 3.5.0 Preloader */

/*head css*/
ul li, ol li {
	list-style: none;
}
/*logo*/
.mylogo {
	float: left;
	width: 60px;
	height: 60px;
	max-width: 60px;
}
@media only screen and (max-width: 575px) {
	.card-service{
		width: 75%;
	}
}
p{
	color: #6b6b64;
	margin-top:0;
	margin-bottom:5px;
}
.img-100{height:100%;width:100%}.img-99{height:99%;width:99%}.img-98{height:98%;width:98%}.img-97{height:97%;width:97%}.img-96{height:96%;width:96%}.img-95{height:95%;width:95%}.img-94{height:94%;width:94%}.img-93{height:93%;width:93%}.img-92{height:92%;width:92%}.img-91{height:91%;width:91%}.img-90{height:90%;width:90%}.img-89{height:89%;width:89%}.img-88{height:88%;width:88%}.img-87{height:87%;width:87%}.img-86{height:86%;width:86%}.img-85{height:85%;width:85%}.img-84{height:84%;width:84%}.img-83{height:83%;width:83%}.img-82{height:82%;width:82%}.img-81{height:81%;width:81%}.img-80{height:80%;width:80%}.img-79{height:79%;width:79%}.img-78{height:78%;width:78%}.img-77{height:77%;width:77%}.img-76{height:76%;width:76%}.img-75{height:75%;width:75%}.img-74{height:74%;width:74%}.img-73{height:73%;width:73%}.img-72{height:72%;width:72%}.img-71{height:71%;width:71%}.img-70{height:70%;width:70%}.img-69{height:69%;width:69%}.img-68{height:68%;width:68%}.img-67{height:67%;width:67%}.img-66{height:66%;width:66%}.img-65{height:65%;width:65%}.img-64{height:64%;width:64%}.img-63{height:63%;width:63%}.img-62{height:62%;width:62%}.img-61{height:61%;width:61%}.img-60{height:60%;width:60%}.img-59{height:59%;width:59%}.img-58{height:58%;width:58%}.img-57{height:57%;width:57%}.img-56{height:56%;width:56%}.img-55{height:55%;width:55%}.img-54{height:54%;width:54%}.img-53{height:53%;width:53%}.img-52{height:52%;width:52%}.img-51{height:51%;width:51%}.img-50{height:50%;width:50%}
.menu_nav ul li a {
	font-size: 20px;
}
.table {
	border: 1px solid #444444;
	color: #444444;
}
.centerText {
	height: 100px;
	line-height: 37px;
	color: #444444;
}
/*end head css*/

.table-bordered td, .table-bordered th {
	border: 1px solid white;
}
.card, .border-0 {
	border: 2px solid #CDAC65 !important;
}

.btnemas, .btnemas a
{
	height: 46px;
	border-radius: 20px;
	margin-bottom:1.5rem!important;
	background: transparent;
	border: solid 2px #CDAC65;
	color: #CDAC65!important;
}
.btnemas:hover, .btnemas:hover a
{
	background: #CDAC65;
	color: white!important;
}
.btngold, .btngold a
{
	height: 46px;
	border-radius: 20px;
	margin-bottom:1.5rem!important;
	border: solid 2px #CDAC65;
	background: #CDAC65;
	color: white!important;
}
.btngold:hover, .btngold:hover a
{
	background: transparent;
	color: #CDAC65!important;
}

.btnpink, .btnpink a
{
	height: 46px;
	border-radius: 20px;
	margin-bottom:1.5rem!important;
	border: solid 2px #e8b0a3;
	background: #e8b0a3;
	color: white!important;
}
.btnpink:hover, .btnpink:hover a
{
	background: transparent;
}

.btnpinkwhite, .btnpinkwhite a
{
	height: 46px;
	border-radius: 20px;
	margin-bottom:1.5rem!important;
	border: solid 2px #e8b0a3;
	background: white;
	color: #e8b0a3!important;
}
.btnpinkwhite:hover, .btnpinkwhite:hover a
{
	background: #e8b0a3;
	color: white!important;
}

.owl-theme .owl-nav [class*='owl-']:hover
{
	background: none;
	color: #FFF;
	text-decoration: none;
}
.owl-prev {
	width: 15px;
	height: 100px;
	position: absolute;
	top: 40%;
	margin-left: -20px;
	display: block !important;
	border:0 solid black;
}
.owl-next {
	width: 15px;
	height: 100px;
	position: absolute;
	top: 40%;
	right: -25px;
	display: block !important;
	border:0 solid black;
}
.owl-prev i, .owl-next i {transform : scale(4,4); color: white;}
.owl-theme .owl-nav [class*='owl-'] {
	background: transparent;
	margin: 0;
	padding:  0;
	margin-left: -5px;
	margin-right: 20px;
	margin-top: -150px;
}
.promo_slider .owl-theme, .promo_slider .owl-nav [class*='owl-'] {
	background: transparent;
	margin-left: -10px;
	margin-right: 13px;
	margin-top: -190px;
}
.about_slider .owl-theme, .about_slider .owl-nav [class*='owl-'] {
	background: transparent;
	margin-left: -20px;
	margin-right: 13px;
	margin-top: -260px;
}

.extra_content {
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}
.border_content {
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

img {
	height: auto;
	max-width: 100%;
}
.page-link{/*pagination*/
	color: #CDAC65;
}
/*end custom css*/
/*form kontak*/
.contact
{
	background: #FFFFFF;
	padding-top: 51px;
	padding-bottom: 90px;
}
.contact_form_container
{
	width: 100%;
	background: #FFFFFF;
	padding-left: 33px;
	padding-right: 34px;
	padding-bottom: 63px;
	padding-top: 136px;
	box-shadow: 0px 25px 38px rgba(0,0,0,0.2);
}
.contact_form_title
{
	position: absolute;
	top: 0;
	left: 0;
	width: 336px;
	height: 80px;
	background: #CDAC65;
	line-height: 80px;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	color: #FFFFFF;
}
.contact_form
{
	width: 100%;
}
.contact_input
{
	width: calc((100% - 15px) / 2);
	height: 62px;
	background: transparent;
	border: solid 2px #e6ebf1;
	margin-bottom: 18px;
	padding-left: 25px;
	outline: none;
	font-size: 15px;
	color: #404040;
	font-weight: 500;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.contact_select
{
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #a09f9f !important;
	cursor: pointer;
}
.contact_select.selected
{
	font-size: 15px !important;
	color: #404040 !important;
	font-weight: 500 !important;
	font-style: normal !important;
}
.contact_select option
{
	color: #404040;
}
.contact_input:focus,
.contact_input:hover
{
	border: solid 2px #CDAC65;
}
.contact_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #a09f9f !important;
}
.contact_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #a09f9f !important;
}
.contact_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #a09f9f !important;
}
.contact_input:-ms-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #a09f9f !important;
}
.contact_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #a09f9f !important;
}
.contact_button
{
	width: 100%;
	font-size: 14px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	border: solid 2px transparent;
	cursor: pointer;
	margin-top: 24px;
}
.contact_button:hover
{
	background: transparent;
	border: solid 2px #fd556d;
	color: #fd556d;
}
.contact_content_title
{
	font-size: 30px;
	font-weight: 600;
	color: #404040;
	line-height: 1.2;
	margin-top: 32px;
}
.contact_content_text
{
	margin-top: 21px;
}
.contact_button
{
	height: 46px;
}
/*end kontak css*/
/*slider*/
.test_slider_container {
	padding-left: 0;
	padding-right: 0;
}
.promo_slider_container {
	padding-left: 0;
	padding-right: 0;
}
/*end slider*/
/*judul artikel*/
.blog_post_title a{
	font-size: 26px;
}
/*social sidebar*/
.menu_social {
	bottom: 100px;
}
.logo_footer {
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	width: 80px;
	height: 80px;
	max-width: 80px;
}
/*default css*/
p{
	/*color: #6b6b64;*/
	color: black;
}
strong {font-weight: bolder;}
a{color: white;}
/*select2 search*/
.choose-position .select2-container {
	width: 100% !important;
}
.select2-results__option[aria-selected] {
	cursor: pointer;
	color: white;
}
.choose-position .select2-container--default .select2-selection--single {
	width: 100% !important;
	display: flex;
	align-items: center;
	padding: 0 30px;
	height: 50px;
	line-height: 50px;
	font-weight: 500;
	font-size: 16px;
	background-color: #fafafa;
	border: 1px solid #eeeeee;
	border-radius: 25px;
	transition: 0.1s;
}
.choose-position .select2-search {
	display: none;
}
.choose-position .select2-results__option {
	display: flex;
	align-items: center;
}
.choose-position .select2-results__option .img-flag {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 10px;
}
.choose-position .select2-container--default.select2-container--focus .select2-selection--single {
	border: 1px solid #c9c9c9 !important;
	outline: 0;
}
.choose-position span.select2-selection.select2-selection--single {
	outline: none;
}
.choose-position .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 35px;
	top: 50%;
	transform: translateY(-50%);
	right: 3px;
	width: 100px;
	background-color: #fff;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 5px 20px rgb(35 49 45 / 14%);
}

.choose-position .select2-container--default.select2-container--focus .select2-selection--single {
	background: #e8b0a3;
	height: 40px;/*tinggi search*/
}
.choose-position span.select2-selection.select2-selection--single {
	background: #e8b0a3;
	height: 40px;/*tinggi search*/
}
.select2-search { background-color: #e8b0a3; }
.select2-results { background-color: #e8b0a3; }
/*select2 search*/
/*paralax opacity*/
.parallax_background{
	background-color: rgb(255 255 255 / 0.28);
}
@media only screen and (max-width: 575px){
	.home_container {
		top: 100px;
	}
}
/*bgcss*/
.pemas{
	/*color: #6b6b64;*/
	color: #CDAC65;
}
.bpinkmuda{
	/*background: #F8E0D7;*/
	background: #fae3db!important;
}
.bpinktua{
	background: #e8b0a3;
}
.pinkat{
	background: #e8b0a3;
}
.bemas{
	background: #CDAC65;
}
/*end bgcss*/
