@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Services
7. Before and After
8. Prices
9. Newsletter
10. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 2.14;
	font-weight: 500;
	color: #828282;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: rgba(87,204,195,0.75);
	color: #FFFFFF;
}
p::selection
{
	
}
h1{font-size: 60px;}
h2{font-size: 48px;}
h3{font-size: 36px;}
h4{font-size: 24px;}
h5{font-size: 18px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
	color: #404040;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}
.button
{
	height: 46px;
	border-radius: 20px;
}
.button a
{
	display: block;
	padding-left: 40px;
	padding-right: 36px;
	line-height: 42px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
}
.button_1
{
	background: #fd556d;
	border: solid 2px transparent;
}
.button_1 a
{
	color: #FFFFFF;
}
.button_1:hover
{
	background: transparent;
	border: solid 2px #fd556d;
}
.button_1:hover a
{
	color: #fd556d;
}
.button_2
{
	background: transparent;
	border: solid 2px #CDAC65;
}
.button_2 a
{
	color: #CDAC65;
}
.button_2:hover
{
	background: #CDAC65;
}
.button_2:hover a
{
	color: #FFFFFF;
}
.section_subtitle
{
	font-size: 18px;
	font-weight: 500;
	color: #a6abb2;
	line-height: 0.75;
}
.section_title
{
	margin-top: 9px;
}
.intro_text
{
	margin-top: 32px;
}

/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 100;
	background: #FFFFFF;
}
.header_content
{
	width: 100%;
	height: 117px;
	padding-left: 100px;
	padding-right: 102px;
}
.header.scrolled .header_content
{
	height: 75px;
	box-shadow: 0px 5px 15px rgba(87,204,195,0.15);
}
.logo a > div:first-child
{
	font-size: 30px;
	font-weight: 700;
	line-height: 0.75;
	color: #353535;
}
.logo a > div:first-child span
{
	color: #CDAC65;
	margin-left: 7px;
}
.logo a > div:last-child
{
	font-size: 12px;
	color: #969696;
	font-weight: 500;
	line-height: 0.75;
	margin-top: 6px;
}
.main_nav
{
	margin-left: 226px;
}
.main_nav ul li a
{
	font-size: 15px;
	font-weight: 600;
	color: #404040;
	white-space: nowrap;
}
.main_nav ul li a:hover,
.main_nav ul li.active a
{
	color: #CDAC65;
}
.main_nav ul li:not(:last-child)
{
	margin-right: 33px;
}
.work_hours
{
	font-size: 15px;
	font-weight: 600;
	color: #404040;
	margin-right: 26px;
	white-space: nowrap;
}
.header_phone
{
	height: 46px;
	border-radius: 20px;
	background: #CDAC65;
	padding-left: 40px;
	padding-right: 36px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	color: #FFFFFF;
	margin-right: 12px;
}
.header_phone::selection
{
	background: rgba(64,64,64,0.75);
}
.header_button
{
	margin-right: 16px;
}
.social ul li
{
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background: #e6ebf1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.social ul li:hover
{
	background: #CDAC65;
}
.social ul li:hover a i
{
	color: #FFFFFF;
}
.social ul li:not(:last-of-type)
{
	margin-right: 15px;
}
.social ul li a
{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 34px;
	text-align: center;
}
.social ul li a i
{
	font-size: 16px;
	color: #404040;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger
{
	display: none;
	cursor: pointer;
	border: solid 1px transparent;
	border-radius: 7px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger:hover
{
	border: solid 1px rgba(0,0,0,0.05);
}
.hamburger i
{
	font-size: 20px;
	color: #404040;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 7px;
	padding-right: 7px;
}

/*********************************
4. Menu
*********************************/

.menu
{
	position: fixed;
	top: 0;
	right: -350px;
	width: 350px;
	height: 100vh;
	background: #CDAC65;
	z-index: 102;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 50px;
}
.menu.active
{
	right: 0;
}
.menu_overlay
{
	position: fixed;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(255,255,255,0.75);
	z-index: 101;
	visibility: hidden;
	opacity: 0;
}
.menu_overlay.active
{
	visibility: visible;
	opacity: 1;
}
.menu_close_container
{
	position: absolute;
    top: 41px;
    left: 28px;
    width: 18px;
    height: 18px;
    transform-origin: center center;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    cursor: pointer;
    z-index: 1;
}
.menu_close
{
    width: 100%;
    height: 100%;
    transform-style: preserve-3D;
}
.menu_close div
{
    width: 100%;
    height: 2px;
    background: #FFFFFF;
    top: 8px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.menu_close div:last-of-type
{
    -webkit-transform: rotate(90deg) translateX(-2px);
    -moz-transform: rotate(90deg) translateX(-2px);
    -ms-transform: rotate(90deg) translateX(-2px);
    -o-transform: rotate(90deg) translateX(-2px);
    transform: rotate(90deg) translateX(-2px);
    transform-origin: center;
}
.menu_close:hover div
{
    background: #1befc5;
}
.menu_nav
{
	margin-top: 75px;
}
.menu_nav ul li:not(:last-child)
{
	margin-bottom: 1px;
}
.menu_nav ul li a
{
	font-size: 24px;
	font-weight: 500;
	color: rgba(255,255,255,0.75);
}
.menu_nav ul li a:hover
{
	color: #1befc5;
}
.menu_social
{
	position: absolute;
	bottom: 30px;
	left: 30px;
}
.menu_social ul li:hover
{
	background: #404040;
}
.menu_social ul li:hover a i
{
	color: #FFFFFF;
}
.menu_extra
{
	margin-top: 50px;
}
.menu_extra > div:not(:last-child)
{
	margin-bottom: 5px;
}
.menu_link,
.menu_link a
{
	font-size: 13px;
	font-weight: 500;
	color: rgba(255,255,255,0.75);
}
.menu_link a:hover
{
	color: #FFFFFF;
}

/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 625px;
}
.home_overlay
{
	z-index: 1;
}
.home_overlay img
{
	max-width: 100%;
}
.home_container
{
	position: absolute;
	top: 218px;
	left: 0;
	width: 100%;
}
.home_content
{
	max-width: 550px;
}
.home_title
{
	font-size: 60px;
	line-height: 1.2;
	font-weight: 500;
	color: #404040;
}
.home_text
{
	font-size: 14px;
	font-weight: 500;
	color: #828282;
	margin-top: 1px;
}

/*********************************
6. Services
*********************************/

.services
{
	background: #FFFFFF;
	padding-top: 91px;
	padding-bottom: 25px;
}
.services_row
{
	margin-top: 68px;
}
.service_col
{
	margin-bottom: 55px;
}
.service_title
{
	font-size: 20px;
	font-weight: 600;
	color: #404040;
	line-height: 1.2;
	margin-top: 17px;
}
.service_text
{
	margin-top: 21px;
}
.icon_container
{
	width: 61px;
	height: 61px;
	border-radius: 50%;
	background: #6bdbd2;
}
.icon
{
	width: 32px;
	height: 32px;
}
.icon img
{
	max-width: 100%;
}

/*********************************
7. Before and After
*********************************/

.before_and_after
{
	padding-top: 88px;
	padding-bottom: 90px;
	background: #eaf2f5;
}
.before_and_after_row
{
	margin-top: 70px;
}
.cd-handle
{
	height: 60px !important;
	width: 60px !important;
	margin-left: -30px !important;
	margin-top: -30px !important;
	background: #CDAC65 url("../images/arrows.png") no-repeat center center;
	box-shadow: none !important;
}
.cd-handle.draggable
{
	background-color: #fd556d;
}
.cd-image-container
{
	width: 100% !important;
	max-width: 100% !important;
}
.cd-resize-img::after
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 100%;
	background-color: #eaf2f5;
	content: '';
}
.ba_text
{
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 44px;
}
.ba_button_container
{
	margin-top: 37px;
}
.ba_button
{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

/*********************************
8. Prices
*********************************/

.prices
{
	background-color: #FFFFFF;
	padding-top: 90px;
	padding-bottom: 79px;
}
.price_col:nth-last-child(n+3)
{
	margin-bottom: 58px;
}
.price
{
	background: #eaf2f5;
	padding-left: 38px;
	padding-top: 36px;
	padding-bottom: 30px;
	padding-right: 50px;
	border-left: solid 3px #CDAC65;
}
.price_title
{
	font-size: 24px;
	font-weight: 600;
	color: #404040;
	line-height: 1.2;
}
.price_text
{
	margin-top: 10px;
}
.price_panel
{
	position: absolute;
	top: -17px;
	right: 17px;
	width: 145px;
	height: 39px;
	border-radius: 20px;
	background-color: #fd556d;
	font-size: 14px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 39px;
	text-align: center;
}

/*********************************
8. CTA
*********************************/

.cta
{
	width: 100%;
	background: #fd556d;
	padding-top: 49px;
	padding-bottom: 46px;
}
.cta_title
{
	font-size: 36px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 1.2;
}
.cta_text
{
	font-size: 14px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 2;
	margin-top: -1px;
}
.cta_phone
{
	height: 59px;
	padding-left: 24px;
	padding-right: 25px;
	line-height: 59px;
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	color: #fff;
	background: #ee4860;
	border-radius: 19px;
	white-space: nowrap;
}

/*********************************
9. Newsletter
*********************************/

.newsletter
{
	padding-top: 56px;
	padding-bottom: 82px;
}
.newsletter_title
{
	font-size: 30px;
	font-weight: 500;
	color: #fff;
	line-height: 1.2;
}
.newsletter_row
{
	margin-top: 54px;
}
.newsletter_input
{
	width: calc(100% - 150px);
	height: 46px;
	background: transparent;
	border: solid 2px #e6ebf1;
	color: #FFFFFF;
	padding-left: 34px;
	outline: none;
}
.newsletter_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
} 
.newsletter_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 167px;
	height: 46px;
	border-radius: 19px;
	background: #fd556d;
	cursor: pointer;
	border: none;
	outline: none;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
}

/*********************************
10. Footer
*********************************/

.footer
{
	display: block;
	position: relative;
	background: #26292d;
}
.footer_content
{
	padding-top: 94px;
	padding-bottom: 51px;
}
.footer_about
{
	padding-top: 19px;
}
.footer_logo a > div:first-child
{
	font-size: 30px;
	font-weight: 700;
	line-height: 0.75;
	color: #FFFFFF;
}
.footer_logo a > div:first-child span
{
	color: #CDAC65;
	margin-left: 7px;
}
.footer_logo a > div:last-child
{
	font-size: 12px;
	color: #969696;
	font-weight: 500;
	line-height: 0.75;
	margin-top: 6px;
}
.footer_about_text
{
	margin-top: 42px;
}
.footer_about_text p
{
	color: #868686;
}
.footer_title
{
	font-size: 16px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 1.2;
}
.footer_contact
{
	padding-top: 40px;
}
.contact_list
{
	margin-top: 44px;
}
.contact_list li
{
	font-size: 15px;
	font-weight: 500;
	color: #878787;
}
.contact_list li:not(:last-child)
{
	margin-bottom: 12px;
}
.footer_location
{
	padding-top: 40px;
}
.locations_list
{
	max-width: 180px;
	margin-top: 42px;
}
.locations_list li
{
	line-height: 1.6;
}
.locations_list li:not(:last-child)
{
	margin-bottom: 19px;
}
.location_title
{
	font-size: 15px;
	font-weight: 500;
	color: #CDAC65;
}
.location_text
{
	margin-top: 13px;
}
.opening_hours
{
	left: -32px;
	width: calc(100% + 67px);
	padding-left: 32px;
	padding-right: 35px;
	padding-top: 38px;
	padding-bottom: 40px;
	border: solid 2px #4d5157;
}
.opening_hours_list
{
	margin-top: 44px;
}
.opening_hours_list li
{
	white-space: nowrap;
}
.opening_hours_list li:not(:last-child)
{
	margin-bottom: 9px;
}
.footer_bar
{
	width: 100%;
	background: #181a1d;
}
.footer_bar_content
{
	height: 49px;
}
.copyright
{
	font-size: 12px;
	font-weight: 500;
	color: #646464;
}
.footer_nav ul li:not(:last-child)
{
	margin-right: 29px;
}
.footer_nav ul li a
{
	font-size: 12px;
	font-weight: 500;
	color: #818181;
}
.footer_nav ul li a:hover
{
	color: #CDAC65;
}
